*, *::before, *::after {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 auto;
    margin: 0 auto;
    background: linear-gradient(90deg, black, slategrey, slategrey, black)
}

main {
    text-align: center;
    border: 10px dashed yellow;
    border-radius: 5px;
    width: 800px;
    max-width: 80%;
    padding: 10px;
    background: linear-gradient(-45deg, red, yellow,blue);
}

section button {
    background-color: rgb(139, 205, 247);
    color: black;
    border-radius: 10px;
}

.answers {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
}

#next-button {
    display: none;
}